<div class="header-wrap">
	<nav class="global-header">
				<ul class="global-header-left">
					<li class="global-header-content-left-list-item">
						<a href="./index.html" class="nav-item">Home</a> 
					</li>
					<li class="global-header-content-left-list-item">
						<a href="./html/aboutMe.html" class="nav-item">About me</a>
						</li>
					<li class="global-header-content-left-list-item">
						<a href="./html/photoGallery.html" class="nav-item">Photo gallery</a>
					</li>
					<li class="global-header-content-left-list-item">
						<a href="./html/cv.html" class="nav-item">CV</a>
					</li>
					<li class="global-header-content-left-list-item">
						<a href="./html/playground/playground.html" class="nav-item">Playground</a>
							<ul>
								<li><a href="./html/playground/visualization/visualization.html">Visualization</a>
									<ul>
										<li><a href="./html/playground/visualization/processing/processing.html">Processing</a></li>
										<li><a href="./html/playground/visualization/vtk.html">VTK</a></li>
										<li><a href="./html/playground/visualization/opendx.html">Opendx</a></li>
									</ul>
								</li>
								<li><a href="./html/playground/programming/">Programming</a>
									<ul>
										<li><a href="">Fortran</a></li>
										<li><a href="">Python</a></li>
										<li><a href="">C++</a></li>
										<li><a href="">Bash</a></li>
									</ul>
								</li>
								<li><a href="./html/playground/data/">Data</a>
									<ul>
										<li><a href="">R</a></li>
									</ul>
								</li>
							</ul>
					</li>
				</ul>
			
				<ul class="global-header-right">
					<li class="global-header-content-right-list-item">
						<a href="" class="nav-item-right">En</a>
					</li>
					<li class="global-header-content-right-list-item-divider">/</li>
					<li class="global-header-content-right-list-item">
						<a href="" class="nav-item-right">中文</a>
					</li>
				</ul>
	</nav>
	</div>